@font-face {
    font-family: 'Mona Sans';
    src:
      url('/font/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/font/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

* {
    font-family: 'Mona Sans', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(29, 36, 48);
    box-sizing: border-box;
}

main {
    margin: auto 10px 20px 10px;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(16, 20, 27);
    padding: 5px 15px;
    margin: 0;
    transition-duration: 0.3s;
}

section {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: rgb(241, 241, 241);
    max-width: 800px;
    margin: 50px auto 50px auto;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

h1 {
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 11ch;
    text-align: center;
    font-size: 40px;
    margin: 0 auto 0 auto;
    animation: typing 2s steps(11), blink .5s infinite step-end alternate;
    overflow: hidden;
}

p {
    font-size: 18px;
}

article {
    background-color: rgb(34, 42, 56);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    color: rgb(241, 241, 241);
    border: 1px solid rgb(41, 51, 68);
    display: none;
}

article img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article a {
    background-color: rgb(30, 37, 49);
    color: rgb(241, 241, 241);
    padding: 10px 12px;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(49, 61, 82);
    box-shadow: 3px 4px 6px 0 rgba(0,0,0,0.4);
}

article a:hover {
    color: rgb(214, 214, 214);
    border: 1px solid rgb(41, 51, 68);
}

article p {
    margin: 20px auto 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(241, 241, 241);
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(250deg, rgb(16, 20, 27), rgb(27, 35, 46));
}

footer img {
    max-width: 50px;
}

.nav__a {
    color: rgb(241, 241, 241);
}

.nav__a:hover {
    opacity: 0.8;
}

#logo {
    max-width: 50px;
    padding-bottom: 10px;
}

#header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto 0 auto;
}

.abrir-menu, .cerrar-menu {
    display: none;
    background-color: transparent;
    border: none;
}

/*Hero*/
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 100%;
    min-height: 100dvh;
    margin: 0;
    background: linear-gradient(250deg, rgb(16, 20, 27), rgb(27, 35, 46));
    color: rgb(241, 241, 241);
}

#hero-section > p {
    font-size: 20px;
}

/*Habilidades*/
#habilidades-img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto auto;
    gap: 20px;
}

#habilidades-img-container img {
    max-width: 80px;
    transition-duration: 0.3s;
}

#habilidades-img-container img:hover {
    transform: scale(1.1);
}

/*Proyectos*/
.article {
    display: block;
}

.proyecto-img {
    aspect-ratio: 10/6;
    width: 100%;
}

#proyecto-buttons {
    display: flex;
    justify-content: center;
    margin: 30px auto auto auto;
    gap: 10px;
}

#proyecto-buttons button {
    background-color: transparent;
    border: none;
    transition-duration: 0.3s;
}

#proyecto-buttons button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#proyecto-buttons img{
    width: 18px;
}

/*Sobre mi*/
#about-me p {
    max-width: 800px;
}

#span-1 {
    color: #fec72f;
}

#span-2 {
    color: rgb(132, 216, 219);
}

/*More*/
#email {
    color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-bottom: 1px;
}

#email:hover {
    border-bottom: 1px solid transparent;
}

/*Animaciones*/
@keyframes typing {
    from { width: 0px }
}

@keyframes blink {
    50% { border-color: transparent }
}

/*Responsive*/
@media (max-width: 700px) {
    .abrir-menu, .cerrar-menu {
        display: block;
    }

    .nav {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding-top: 20px;
        padding-right: 10px;
        gap: 10px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: black;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    ul {
        flex-direction: column;
        align-items: end;
    }

    footer p {
        font-size: 15px;
    }
}