@font-face {
  font-family: "Mona Sans";
  src: url("/font/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  font-family: "Mona Sans", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(29, 36, 48);
  color: rgb(241, 241, 241);
  box-sizing: border-box;
  line-height: 2;
}

main {
  padding: 0 10px 0 10px;
  max-width: 800px;
  font-size: 17px;
  margin: auto;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgb(16, 20, 27);
  padding: 5px 15px;
}

section {
  max-width: 800px;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition-duration: 0.3s;
}

h1 {
  font-size: 30px;
  margin: 0;
  margin-top: 30px;
}

code {
  background-color: #292d35;
  padding: 5px;
  line-height: normal;
  display: inline-block;
  color: rgb(241,241,241);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  font-family: monospace;
  margin: 5px 0px;
  white-space: pre-wrap;
  font-size: 17px;
  border: 1px solid rgb(53, 53, 53);
}

p {
  max-width: 90ch;
}

pre code {
  margin: 0.3rem 0;
  padding: 0.5rem;
}

.nav__a {
  color: rgb(241, 241, 241);
}

.nav__a:hover {
  opacity: 0.8;
}

#logo {
  max-width: 50px;
  padding-bottom: 10px;
}

#header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  background-color: transparent;
  border: none;
}

/*Content*/
#section__content {
  margin: auto;
}

#div__content {
  color: rgb(241, 241, 241);
}

#div__content a {
  color: #fed82f;
}

#div__content a:hover {
  opacity: 0.7;
}

.image-container img, .image-container-portada img {
  width: 100%;
  border-radius: 10px;
}

.image-container-portada {
  max-width: 600px;
}

#info {
  display: flex;
  align-items: center;
  margin: 0 auto 15px auto;
  color: rgba(241, 241, 241, 0.9);
  gap: 20px;
}

#info p {
  margin: 0;
}

#point {
  width: 5px;
  height: 5px;
  background-color: rgb(40, 103, 185);
  border-radius: 50%;
}

/*Responsive*/
@media (max-width: 700px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }

  .nav {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 10px;
    gap: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: black;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  ul {
    flex-direction: column;
    align-items: end;
  }

  #info {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }

  #point {
    display: none;
  }
}