@font-face {
    font-family: 'Mona Sans';
    src:
      url('./font/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./font/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

* {
    font-family: 'Mona Sans', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(29, 36, 48);
    box-sizing: border-box;
}

main {
    margin: auto 10px 20px 10px;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(16, 20, 27);
    padding: 5px 15px;
}

section {
    max-width: 690px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

h1 {
    font-size: 30px;
}

.nav__a {
    color: rgb(241, 241, 241);
}

.nav__a:hover {
    opacity: 0.8;
}

#logo {
    max-width: 50px;
    padding-bottom: 10px;
}

#header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.abrir-menu, .cerrar-menu {
    display: none;
    background-color: transparent;
    border: none;
}

/*Bienvenida*/
#section__bienvenida {
    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(241, 241, 241);
    text-align: center;
    background-color: rgb(25, 30, 41);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.6);
}

#div__bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    padding: 50px 10px 30px 10px;
    text-align: center;
}

#div__bienvenida img {
    max-width: 150px;
    transition-duration: 0.3s;
    border-radius: 50%;
    background-color: rgb(27, 32, 42);
    border: 1px solid rgb(33, 40, 53);
}

/*Content*/
#a-github {
    color: #fed82f;
}

#a-github:hover {
    opacity: 0.8;
}

/*Ventana*/
.ventana__design {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.ventana__design div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.ventana__design-div1 {
    background-color: #fe5f57;
}

.ventana__design-div2 {
    background-color: #febd2f;
}

.ventana__design-div3 {
    background-color: #26c83f;
}

/*Articles*/
#section__articles {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

#div__articles {
    text-align: center;
    color: rgb(241, 241, 241);
}

#articles{
    margin-top: 50px;
}
.article {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(21, 25, 34);
    max-width: 750px;
    margin: 30px auto 20px auto;
    transition-duration: 0.3s;
}

.article:hover {
    background-color: rgb(19, 22, 31);
}

.article-content img {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    margin-top: 20px;
    text-align: start;
    color: rgb(241, 241, 241);
}

.article-content div {
    max-width: 400px;
}

/*Categorias*/
#section-categorias {
    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(241, 241, 241);
    margin: 15px auto 30px auto;
}

#div-categorias a {
    display: flex;
}

#div-categorias div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#div-categorias h2 {
    text-align: center;
}

.image-container {
    max-width: 30px;
}

.image-container img {
    width: 100%;
}

.button-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(241, 241, 241);
    border: 1px solid grey;
    border-radius: 50px;
    padding: 5px 15px;
}

.button-categoria:hover {
    background-color: rgba(33, 42, 53, 0.7);
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(241, 241, 241);
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(250deg, rgb(16, 20, 27), rgb(27, 35, 46));
}

footer img {
    max-width: 50px;
}

#email {
    color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-bottom: 1px;
}

#email:hover {
    border-bottom: 1px solid transparent;
}

footer > p {
    font-size: 18px;
}

/*Responsive*/
@media (max-width: 700px) {
    .abrir-menu, .cerrar-menu {
        display: block;
    }

    .nav {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding-top: 20px;
        padding-right: 10px;
        gap: 10px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: black;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    ul {
        flex-direction: column;
        align-items: end;
    }

    .article-content div {
        max-width: 300px;
    }

    .article-content {
        max-width: 300px;
    }

    .article {
        max-width: 500px;
    }

    .article img {
        padding: 0;
    }

    footer > p {
        font-size: 15px;
    }
}
